/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	font-weight: 400;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
/************* edition *****************/

#edit-mode {
    background-color: black;
    color: white;
  justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.hidden {
    display: none;
}
#edit-mode i {
	padding-right: 5px;
}
/*************** edition button *************/
.portfolio-header {
	display: flex;
	justify-content: center;
}
.edit-button {
	background-color:#FFFEF8;
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
#edit-button i {
	padding-right: 5px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li a {
	text-decoration: none;
	color: rgb(91, 91, 91);
  }
  nav ul li a:visited {
	text-decoration: none;
  }

  nav ul li a:hover {
	color: black;
	cursor: pointer;
	font-weight: bold;
  }

/*li:hover {
	color: black;
}*/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	/*width: 100%;*/
	height: 490px;
	width: 366px;
	object-fit: cover;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/********* Filtre des catégories *******/
.filters {
	display: flex;
	margin-left: 307px;
	width: 585px;
	height: 38px;
	margin-top: 35px;
	margin-bottom: 35px;
}
.btnFilter {
	border-radius: 60px;
	border: 1px solid #1d6154;
	font-weight: 700;
	background-color: white;
	padding: 5px 15px;
	margin-right: 10px;
}
/** Style pour le boutton actif **/
.btnFilter.active {
	background: #1d6154;
	color: #fff;
}

.btn-tous {
	border-radius: 60px;
	border: 1px solid #1d6154;
	font-weight: 700;
	background-color: white;
	padding: 5px 15px;
	margin-right: 10px;
}

.btn-tous.active {
	background: #1d6154;
	color: #fff;
}

button:hover {
	background-color: #1D6154;
	color: white;
}

/******* For login *****/
#Login {
	width: 50%;
	margin: auto;
	text-align: center;
}
#Login form {
	display: flex;
	flex-direction: column;
	text-align: left;
}
#Login label {
	margin: 32px 0 16px 0;
}
#Login input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#Login button {
	background: none;
	border: none;
	color: black;
	font-size: 1em;
	cursor: pointer;
}
#Login button:hover {
	text-decoration: underline;
}
/***************** Modale1 ***********************/
.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.modal-container.active {
	display: block;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333333d3;
}
.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	margin: 15% auto;
	padding: 20px;
	border-radius: 5px;
	width: 630px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position: relative;
}

/* Styles pour la galerie dans la modale */
.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 435px;
	background: white;
	margin-top: 20px;
}

.modal-gallery figure {
	position: relative;
	width: 76.61px;
	margin: 5px;
}

.modal-gallery img {
	/*width: 100%;
	height: auto;
	display: block;*/
	width: 77px;
	height: 102px;
	object-fit: cover;
}

.fond-icone {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute; /* Position absolue pour placer l'élément par rapport au conteneur parent */
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
}

.fond-icone:hover {
	background-color: red;
}

.fond-icone i {
	color: #fff;

}

.close-modal {
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 28px;
	position: absolute;
	top: 20px;
	right: 30px;
	background: #fff;
	color: #aaa;
}

.close-modal:hover {
	color: black;
	cursor: pointer;
}

.modal h3 {
    text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 26px;
}

.line {
	width: 420px;
	height: 3px;
	background-color: #aaa;
	margin-top: 40px;
	margin-bottom: 40px;
  }
#add-photo-button {
	display: block;
	background: #1D6154;
	color: #fff;
	margin-bottom: 20px;
	border: 1px solid #1d6154;
	padding: 5px 15px;
	border-radius: 60px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
}

#add-photo-button:hover {
	background: #0E2F28;
	color: white;
}
/***************** Modale2 ***********************/
#back-modal {
	display: none;
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 28px;
	position: absolute;
	top: 20px;
	left: 30px;
	background: #fff;
	color: #aaa;
}
#back-modal:hover {
	color: black;
	cursor: pointer;

}


.modal-h3 {
	display: flex;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 26px;

}

.modal-new-photo {
	display: flex;
	background: rgb(232, 241, 246);
	width: 420px;
	border-radius: 3px;
}

.photo-file {
	gap: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}
.fa-image {
	color: rgb(185, 197, 204);
	font-size: 3.2rem;
	padding-top: 15px;
  }
  label[for="avatar"] {
	color: rgb(48, 102, 133);
	font-size: 0.9rem;
	font-weight: 600;
	background: rgb(185, 197, 204);
	padding: 8px 20px;
	border-radius: 50px;
	cursor: pointer;
}
.photo-size {
	font-size: 0.7rem;
	padding-bottom: 18px;
}

.modale-button {
	width: 237px;
	background: #a7a7a7;
	color: #fff;
	margin-bottom: 20px;
	border: 1px solid #a7a7a7;
	padding: 5px 15px;
	border-radius: 60px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
}

#btn-valider:hover {
	background: #a7a7a7;
	color: #fff;
}

/******** Style formulaire modale ****/

#form-modale {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

#form-modale input {
	width: 420px;
	height: 51px;
	padding: 0;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#form-modale label {
	margin: 2em 0 1em 0;
	margin-top: 50px;
	margin-bottom: 5px;
}

#form-modale input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#form-modale input[type="submit"]:hover {
	background-color: #0E2F28;
}

.selectCategorie {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.selectCategorie label {
	margin: 2em 0 1em 0;
	margin-top: 50px;
	margin-bottom: 5px;
}

.selectCategorie select {
	width: 420px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}

#modal2 {
	display: none;
	flex-direction: column;
	align-items: center;
}

#modal1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}



